<!--footer area start-->
<footer class="footer_widgets" th:fragment="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="widgets_container widget_menu">
                        <h3>Thông tin</h3>
                        <div class="footer_menu">

                            <ul>
                                <li><a href="#">Về chúng tôi</a></li>
                                <li><a href="#">Thanh toán </a></li>
                                <li><a href=""> Liên hệ</a></li>
                                <li><a href="#">Địa chỉ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="widgets_container widget_menu">
                        <h3>Link</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">Chính sách</a></li>
                                <li><a href="#">Giảm giá</a></li>
                                <li><a href="#">Sản phẩm mới</a></li>
                                <li><a href="#">Ưu đãi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="widgets_container widget_menu">
                        <h3>Tài khoản</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#">Thông tin cá nhân</a></li>
                                <li><a href="#">Giỏ hàng</a></li>
                                <li><a href="#">Thanh toán</a></li>
                                <li><a href="#">trở thành người bán</a></li>
                                <li><a href="#">Địa chỉ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="widgets_container widget_menu">
                        <h3>Theo dõi</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"
                                        aria-hidden="true"></i> Facebook</a></li>
                                <li><a href="#"><i class="fa fa-twitter"
                                        aria-hidden="true"></i> Twitter</a></li>
                                <li><a href="#"><i class="fa fa-youtube-play"
                                        aria-hidden="true"></i> YouTube</a></li>
                                <li><a href="#"><i class="fa fa-google-plus"
                                        aria-hidden="true"></i> Google +</a></li>
                                <li><a href="#"><i class="fa fa-instagram"
                                        aria-hidden="true"></i> Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-12">
                    <div class="widgets_container widget_newsletter">
                        <h3>Đóng góp</h3>
                        <p>Bạn có thể đóng góp ý kiến bất cứ lúc nào. Vì mục đích đó, vui lòng tìm thông tin liên hệ của chúng tôi trong thông báo pháp lý.</p>
                        <div class="subscribe_form">
                            <form id="mc-form" class="mc-form footer-newsletter">
                                <input id="mc-email" type="email" autocomplete="off"
                                    placeholder="Your email address" />
                                <button id="mc-submit">
                                    <i class="icon-arrow-right-circle icons"></i>
                                </button>
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div>
                                <!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div>
                                <!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div>
                                <!-- mailchimp-error end -->
                            </div>
                            <!-- mailchimp-alerts end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer area end-->